<h3>{{user.username}}'s Dashboard</h3>
{{#each posts}}
    <div class="card m-2">
        <div class="card-header">
            {{user.username}} posted on {{format_date date_created}}
        </div>
        <div class="card-body">
            <h5 class="card-title"><a href="/post/{{id}}">{{title}}</a></h5>
            <p class="card-text">{{text}}</p>
            <a href="/post/update/{{id}}" class="btn btn-light">Edit Post</a>
            <a data-id={{id}} class="btn btn-light delete-post">Delete Post</a>
        </div>
    </div>
{{/each}}
<br/>
<h4>Create a new post</h4>
<form id="new-post" class="mt-2">
  <div class="form-group">
    <label for="title-input">Post Title</label>
    <input type="text" class="form-control" id="title-input">
  </div>
  <div class="form-group">
    <label for="text-input">Post Text</label>
    <textarea class="form-control" id="text-input" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/js/post.js"></script>
