<div class="card m-2">
    <div class="card-header">
        {{post.user.username}} posted on {{format_date post.date_created}}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{post.title}}</h5>
        <p class="card-text">{{post.text}}</p>
    </div>
</div>
<br/>
<h3>Comments</h3>
{{#each comments}}
    <div class="card m-2">
        <div class="card-header">
            {{user.username}} commented on {{format_date date_created}}
        </div>
        <div class="card-body">
            <p class="card-text">{{comment}}</p>
        </div>
    </div>
{{/each}}

<form id="comment-form" class="mt-4">
  <div class="form-group">
    <input type="text" class="form-control" id="comment-input" placeholder="Enter a comment">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
<script src="/js/comment.js"></script>


